URxvt*geometry:         120x70
URxvt*depth:            32
URxvt*meta8:            true
URxvt*pointerBlank:     true
URxvt*jumpScroll:       true
URxvt*skipScroll:       true
URxvt*visualBell:       false
URxvt*buffered:         true
URxvt*background:       black  
URxvt*foreground:       grey
URxvt*transparent:      false
URxvt*fading:           10
URxvt*fadeColor:        grey
URxvt*shading:          75
URxvt*font:             xft:Inconsolata for Powerline-14
URxvt*boldFont:         xft:Inconsolata for Powerline-14-bold
URxvt*urlLauncher:      google-chrome
URxvt.matcher.button:   2
URxvt.perl-ext-common:  matcher,clipboard
URxvt.perl-lib:         /usr/lib/urxvt/perl/matcher
URxvt*intensityStyles:  true
URxvt*internalBorder:   0
URxvt*externalBorder:   0
URxvt*borderLess:       false
URxvt*termName:         rxvt-unicode
urxvt.colorBD:          #ffffff
urxvt.colorIT:          #bbbbbb
urxvt.colorUL:          #999999
urxvt.underlineColor:   #999999
