# linux
*~
.Trash-*
.directory
.fuse_hidden*

# Vim fies
*.netrwhist
*.swp
/dotfiles/home/.vim/.viminfo
/dotfiles/home/.vim/bundle/*

# windows
$RECYCLE.BIN/
*.lnk
Desktop.ini
Thumbs.db
ehthumbs.db

# packages
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
