$RECYCLE.BIN/
*.7z
*.dmg
*.gz
*.iso
*.jar
*.lnk
*.rar
*.swp
*.tar
*.tmp
*.zip
*~
.Trash-*
.directory
.fuse_hidden*
.virarc
/.git/tags
/dotfiles/home/.vim/.viminfo
/dotfiles/home/.vim/.netrwhist
Desktop.ini
Thumbs.db
ehthumbs.db
/dotfiles/home/.config/ranger
/dotfiles/home/.vim/bundle
/dotfiles/home/.bin
