$RECYCLE.BIN/
*.7z
*.dmg
*.gz
*.iso
*.jar
*.lnk
*.netrwhist
*.rar
*.swp
*.tar
*.zip
*~
.Trash-*
.directory
.fuse_hidden*
/.git/tags
/dotfiles/home/.vim/.viminfo
/dotfiles/home/.vim/bundle/*
Desktop.ini
Thumbs.db
ehthumbs.db
