# Default site
www.tgall.ca {
  # Use for forcing SSL?
  tls { alpn http/1.1 }
  proxy / 192.168.228.210:8080 {
    websocket
    transparent
  }
}

# JIRA site
jira.tgall.ca {
  tls { alpn http/1.1 }
  proxy / 192.168.228.210:8080 { transparent }
}

# SSH relay
s.tgall.ca {
  tls { alpn http/1.1 }
  proxy / 192.168.228.210:22 {
    websocket
    transparent
  }
}
