[Desktop Entry]
Version=1.0
Type=Application
Exec=guake
Icon=guake
StartupNotify=true
Terminal=false
Categories=Utility;X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
Name=Guake Terminal
Comment=Use the command line in a Quake-like terminal
X-XFCE-Source=file:///usr/share/applications/exo-terminal-emulator.desktop
Path=
