version: "3"
services:

  # Tested successful connection:
  # host: db
  # user: postgres
  # pw: example
  # db: jira

  jira:
    hostname: jira
    image: dchevell/jira-software:latest
    volumes:
      - $HOME/.docker/jira/jira:/var/atlassian/application-data/jira
    ports:
      - 8080:8080
      # - 443:8080
      # - 80:8080
    environment:
      - CATALINA_CONNECTOR_PROXYNAME=jira.tgall.ca

      # - CATALINA_CONNECTOR_PROXYPORT=8080

      - CATALINA_CONNECTOR_PROXYPORT=443
      - CATALINA_CONNECTOR_SCHEME=https
      - CATALINA_CONNECTOR_SECURE=true

      # - CATALINA_CONNECTOR_PROXYPORT=80
      # - CATALINA_CONNECTOR_SCHEME=http
      # - CATALINA_CONNECTOR_SECURE=false
    links:
      - db

  adminer:
    image: adminer
    restart: always
    ports:
      - 8081:8080
    links:
      - db

  db:
    image: postgres:latest
    restart: always
    volumes:
      - $HOME/.docker/jira/postgres:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: 'example'
      POSTGRES_DB: jira
